<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Favourite Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragment/navbar.html"></div>
<div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">ISBN</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td><span th:text="${book.title}"></span></td>
                <td><span th:text="${book.author}"></span></td>
                <td><span th:text="${book.isbn}"></span></td>
                <form th:action="@{/book/favourite/delete}" method="post">
                    <td><input type="hidden" th:value="${book.id}" name="bookId"/>
                        <button type="submit" class="btn btn-danger" name="add" value="add">Delete</button>
                    </td>
                </form>

            </tbody>
        </table>
</div>

</body>
</html>